{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="box-1">
        <h2>We 1up the competition</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore laboriosam porro, quisquam facere officia
            tenetur! Fuga totam, ex quidem libero perspiciatis quia reiciendis molestiae, eius qui sunt dolorum odit
            aspernatur!</p>
    </div>
    <div class="box-1">
        <h2>We 1up the competition</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore laboriosam porro, quisquam facere officia
            tenetur! Fuga totam, ex quidem libero perspiciatis quia reiciendis molestiae, eius qui sunt dolorum odit
            aspernatur!</p>
    </div>


</div>
<div id="mapid"></div>
{% endblock %}